*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

#mainCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 800px;
    margin: 100px auto;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    background-color: beige;
}

img{
    width: 100%;
    height: 50%;
}

#content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 40%;
    text-align: center;
    margin-top: 25px;
    gap: 20px;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: Center;
    align-items: center;
    height: 10%;
}

#footer p{
    background-color: beige;
    padding: 47px;
    margin-bottom: 10px;
    border: 1px solid rgb(198, 195, 195) ;
}

#p1{
    color: rgb(143, 63, 76);
}

#p2{
    color: rgb(143, 63, 76);
}

h2{
    color: rgb(211, 36, 65);
}